.App {
    width: 100vw;
    height: 100vh;
    background-color: #f7f7f7;
    font-family: "Barlow", sans-serif;
}

.AppCore {
    display: flex;
}


.Articles {
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
    width: 75vw;
    height: fit-content;
}

.portefeuille {
    margin-top: 70px;
    margin-left: 10px;
}